.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.nav-item {
    background-color: antiquewhite;
    flex: auto;
}
.dropdown{
    display: inline-block;
    position: relative;
}
.hover-content {
    display: none;
    position: absolute;
}
.dropdown:hover .hover-content {
    display: block;
}